#searchbar-container {
    /* alignment */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.3rem;
    gap: 0.5rem;

    /* border */
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 0.5rem;

    & #separator {
        border-left: 1px solid black;
        height: 1.2rem;
    }
    
    & input {
        background: transparent;
        border: none;
        width: 35vw;
        font-size: medium;
    }
    & input:focus {
        outline: none;
    }
    
}

/* Chrome bug workaround  */
/* https://stackoverflow.com/questions/60997948/backdrop-filter-not-working-for-nested-elements-in-chrome */
/* TODO: Fix this */
/* #result-panel::before {
    content: '';
    width: 100%;
    height: 100%;
    position: sticky;
    left: 0;
    top: 0;
    margin-top: -100%;

    background-color: #2780CA;
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
    z-index: -1;
} */

#result-panel {
    z-index: 0;
    all: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    /* border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    
    background: rgba(255, 255, 255, 0.8);
    /* scrolling */
    max-height: calc(5 * (6rem + 1px));
    overflow: auto;
    scrollbar-color: rgb(151, 151, 151) transparent;

    & .result {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        height: 6rem;
        width: 100%;
        padding: 0.8rem;
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        & #text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;
            & #name {
                max-width: 100%;
                font-weight: 600;
            }
            & #description {
                font-size: small;
                max-width: 100%;
                min-width: 0px;
                overflow-wrap: break-word;
            }
        }

        & #pin-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 2.5rem;
            width: 4.5rem;
            border-radius: 2rem;
            background-color: #2780CA;
            color: white;
            filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, .7));
        }
        
        & #pin-icon:hover {
            background-color: #156eb7;
        }

        & #image-container {
            position: relative;
            width: max-content;
            height: 90%;
            border-radius: 0.5rem;
            & svg {
                width: 3rem;
            }
            & img {
                border-radius: 0.5rem;
                height: 100%;
                max-height: 100%;
            }
            & #overlay {
                position: absolute;
                top: 0px;
                left: 0px;
                height: 100%;
                width: 100%;
                border-radius: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                color: rgba(255, 255, 255, 0.6);
                & svg {
                    height: 3.5rem;
                    color: inherit;
                }
            }
            & #overlay:hover {
                background-color: rgba(0, 0, 0, 0.3);
                color: rgba(255, 255, 255, 0.8);
            }
        }
    }
    & .separator {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        height: 1px;
        width: 90%;
    }
}